@model MVCIntroduction.Models.Dog

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChooseDogPref</title>
</head>
<body>
    <div> 
        <h1>Dog Recommender</h1>
        <h2>Trust us so we can help you help us help find you a dog. :)</h2>
    </div>
</body>
</html>
