@model MVCIntroduction.Models.Dog

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DogConfirm</title>
</head>
<body>
    <div> 
        post got me here
    </div>
</body>
</html>
