@model MVCIntroduction.Models.Dog

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DogConfirm</title>
</head>
<body>
    <div> 
        <h1>Your recommend Dog:</h1>

        <p>
            Breed: @Model.DisplayName<br />
            Drools: @Model.Drools<br />
            Size: @Model.Size<br />
            Good with kids: @Model.GoodWithChildren<br />

        </p>
    </div>
</body>
</html>
